
#edit-panel {
    z-index: 3;

    width:93%;
    height: 98%;
    margin-left: 3.5%;

    background-color: #EEEEEE;

    box-shadow: 0px 0px 5em;

    border-radius: 0px 0px 10px 10px;

    position:  absolute;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.edit-panel {
    visibility: hidden;
    top: -98%;
    opacity: 0;
}

.edit-panel-enabled {
    visibility: visible;
    opacity: 1;
    top: 0px;
}

#edit-panel > form {
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 1em;
}

#note-text {
    margin-top: 2em;
    height: 100%;
    resize: none;
}

#text-block {
    height: 95%;
    padding: 0em;
}

#param-block {
    height: 95%;
    padding-top: 1em;
}

#edit-panel-footer {
    margin-top: 1em;
}

.sub-text {
    color: #AAAAAA;
    font-size: 0.9em;
    font-style: italic;
}